.login_page {
  display: grid;
  grid-template-columns: 40% 60%;
}

.login_left {
  padding: 70px 70px 70px 80px;
  position: relative;
}

.login_left .logo {
  margin-bottom: 140px;
}
.logo_div{
  margin-bottom: 25%;
}
.logo_div span {
  color: #1565d8;
  font-family: Righteous;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login_left .quts_mark {
  font-family: "Gayathri";
  font-weight: 700;
  font-size: 96px;
  line-height: 117px;
  color: #bababa;
  margin-bottom: -96px;
}

.login_left .quts_text {
  font-style: italic;
  font-size: 20px;
  line-height: 38px;
  color: #696f79;
}

.login_left .author {
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: #696f79;
  margin-top: 60px;
}

.login_left .gear_img {
  position: relative;
  bottom: 90px;
  left: 290px;
  margin-bottom: -90px;
}

.login_right {
  padding: 150px 0;
}

.login_right .titles {
  text-align: center;
}

.login_right .icons_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.login_right .icons_box a {
  position: relative;
  z-index: 2;
}

.login_right .icons_box .line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
  z-index: 1;
}

.login_right .create_account {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 30px;
  color: #696f79;
}

.login_right .create_account span {
  cursor: pointer;
  color: #1565d8;
}
