.input_box {
  margin-bottom: 24px;
}

.input_box input {
  border: 1px solid #8692a6;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  padding: 23px 30px;
  position: relative !important;
}
.input_box input::placeholder {
  color: #8692a6;
}
.eye{
  position: absolute;
  bottom:3%;
  left:81%;
}
